.LoveInfo{
    @apply
    bg-gray-100
    md:h-[70vh]
    h-auto
    w-auto
    grid
    grid-cols-2;
    
}
.Animation{
    @apply
    col-span-2
    md:col-span-1
    bg-rose-500;
    z-index:9996;
}
/*Heart BG*/
.SVG_bg{
    @apply
    h-[65vh]
    flex
    items-center
    justify-center
    bg-[length:65vh_65vh]
    md:bg-[length:85vh_85vh]
    drop-shadow-xl;
    background-image:
    url("data:image/svg+xml,%3Csvg viewBox='-2.4 -2.4 28.80 28.80' fill='none' xmlns='http://www.w3.org/2000/svg' transform='rotate(0)matrix(1, 0, 0, 1, 0, 0)' stroke='%23000000' stroke-width='0.00024000000000000003'%3E%3Cpath d='M2 9.1371C2 14 6.01943 16.5914 8.96173 18.9109C10 19.7294 11 20.5 12 20.5C13 20.5 14 19.7294 15.0383 18.9109C17.9806 16.5914 22 14 22 9.1371C22 4.27416 16.4998 0.825464 12 5.50063C7.50016 0.825464 2 4.27416 2 9.1371Z' fill='%23F9FAFB'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;

   
}
.MainTitle{
    @apply
    max-[390px]:text-6xl
    text-5xl
    text-center
    font-extrabold
    text-rose-500
    drop-shadow-xl;
    font-family: 'Single Day', cursive; 
}
.Counter{
    @apply
    text-6xl
    md:text-7xl
}

.Info{
    @apply
    col-span-2
    md:col-span-1
    bg-gray-100;
    
    z-index:9996;
}
.SubTitle{
    @apply
    text-center
    pt-[3rem]
    pb-[4rem]
    text-rose-500
    text-4xl
    font-bold;
    font-family: 'Diphylleia', serif;
}
.List{
    @apply
    text-xl
    md:text-2xl
    drop-shadow-xl
    font-bold;
    font-family: 'Diphylleia', serif;
}
.KeyWords
{
    @apply
    text-rose-500;
    font-family: 'Diphylleia', serif;
}
.ElementL{
    @apply
    flex
    pb-[3rem]
    font-bold
    ml-4
}
.ElementR{
    @apply
    pb-[3rem]
    mr-4
    flex
    font-bold
    flex
    justify-end
}