.TopEmojis{
    @apply
    bg-rose-900
    h-auto
    w-auto
    
}
.EmojisContainer{
    @apply
    grid
    grid-cols-3
    
}
.Title{
    @apply
    text-8xl
    text-rose-500
    font-bold
    text-center
    pt-[2rem]
    drop-shadow-xl;
    font-family: 'Single Day', cursive;
}
.Text{
    @apply
    text-2xl
    mx-2
    text-center
    text-gray-100
    font-bold;
    font-family: 'Diphylleia', serif;
}
.TextQ{
    @apply
    text-3xl
    mx-2
    text-center
    text-rose-500
    font-bold;
    font-family: 'Diphylleia', serif;
}
.TopText{
    @apply
    pb-[4rem]
    text-4xl
    text-gray-100;
    font-family: 'Diphylleia', serif;
}
.TopTitle{
    @apply
    text-7xl
    text-rose-500;
    font-family: 'Single Day', cursive;
}
.TopOne{
    @apply
    order-1
    col-span-3
    md:col-span-1
    md:order-2
    font-bold
    text-center
    
}
.TopEmojiFirst{
    @apply
    text-[11rem]
    drop-shadow-xl
}
.TopEmoji{
    @apply
    text-[10rem]
    drop-shadow-xl
}
.TopTwo{
    @apply
    order-2
    col-span-3
    md:col-span-1
    md:order-1
    font-bold
    text-center
    mt-[1rem]
}
.TopThree{
    @apply
    order-3
    col-span-3
    md:col-span-1
    font-bold
    text-center 
    mt-[1rem]
}
.divTable
{
    @apply
    flex
    items-center
    justify-center

}
.Table{
 
    @apply
    text-sm
    text-center rtl:text-right text-gray-100
    divide-y divide-gray-100 
    
}
.TableHead{
    @apply
    text-xl text-gray-100 uppercase 
}
.OtherEmoji{
    @apply
    text-[4rem]
}