.TopEmojis{
    @apply
    bg-red-500
    h-auto
    w-auto
    
}
.EmojisContainer{
    @apply
    grid
    grid-cols-3
    
}
.Title{
    @apply
    text-6xl
    text-gray-100
    font-bold
    text-center
    pt-[2rem];
    font-family: 'Single Day', cursive;
}
.TopText{
    @apply
    text-5xl
}
.TopOne{
    @apply
    order-1
    col-span-3
    md:col-span-1
    md:order-2
    font-bold
    text-center
    mt-5
}
.TopOneEmoji{
    @apply
    text-[15rem]
}

.TopTwo{
    @apply
    order-2
    col-span-3
    md:col-span-1
    md:order-1
    text-3xl
    font-bold
    text-center
    pt-6
}
.TopThree{
    @apply
    order-3
    col-span-3
    md:col-span-1
    text-4xl
    font-bold
    text-center
    mt-5
}
