.TopEmojis{
    @apply
    bg-red-500
    h-auto
    w-auto
    
}
.EmojisContainer{
    @apply
    grid
    grid-cols-3
    
}
.Title{
    @apply
    text-6xl
    text-red-800
    font-bold
    text-center
    pt-[2rem]
    drop-shadow-xl;
    font-family: 'Single Day', cursive;
}
.TopText{
    @apply
    pb-[4rem]
    text-4xl
    text-gray-100;
    font-family: 'Diphylleia', serif;
}
.TopTitle{
    @apply
    text-7xl
    text-red-700;
    font-family: 'Single Day', cursive;
}
.TopOne{
    @apply
    order-1
    col-span-3
    md:col-span-1
    md:order-2
    font-bold
    text-center
    mt-5
}

.TopEmoji{
    @apply
    text-[12rem]
    drop-shadow-xl
}
.TopTwo{
    @apply
    order-2
    col-span-3
    md:col-span-1
    md:order-1
    font-bold
    text-center
}
.TopThree{
    @apply
    order-3
    col-span-3
    md:col-span-1
    font-bold
    text-center 
}