.DateInfo{
    @apply
    bg-yellow-200
    md:h-[50vh]
    h-auto
    w-auto
    grid
    grid-cols-2;
}
.DateImgDiv{
    @apply 
    col-span-2
    md:col-span-1
    flex
    justify-center
    items-center
}
.DateImg{
    width: 20rem;
    height: 20rem;
}
/*Who Talk More*/
.WTMInfo{
    @apply
    bg-orange-200
    md:h-[50vh]
    h-auto
    w-auto
    grid
    grid-cols-2;
}
/*Words Mean*/
.WMInfo{
    @apply
    bg-blue-300
    md:h-[50vh]
    h-auto
    w-auto
    grid
    grid-cols-2;
}