/*General props*/
.emoji_span {
    margin: 0;
  display: inline-block;

}

.DateInfo{
    @apply
    md:h-[50vh]
    h-[130vh]
    w-auto
    grid
    grid-cols-3;
}
.DateImgDiv{
    @apply 
    col-span-3
    md:col-span-1
    bg-yellow-200
    flex
    justify-center
    items-center
    pt-[5rem]
    pb-[5rem]
    md:pt-0
    md:pb-0
}
.DateImg{
    @apply
    h-[20rem]
    w-[20rem]
    drop-shadow-lg;
   
}
/*Who Talk More*/
.WTMInfo{
    @apply
    bg-orange-200
    h-auto
    w-auto
}
/*Words Mean*/
.WMInfo{
    @apply
    md:h-[50vh]
    h-[120vh]
    w-auto
    grid
    grid-cols-3;
}
.DateInfoData{
    @apply
    md:col-span-2
    col-span-3
}

/*First section*/
.TitleDate{
    @apply
    md:pt-[4rem]
    pt-[4rem]
    text-7xl
    md:text-6xl
    text-yellow-500
    text-center
    uppercase
    font-bold
    drop-shadow-lg;
    font-family: 'Single Day', cursive; 
}
.DateList{
    @apply
    text-lg
    text-2xl
    md:text-xl
    font-bold;
    font-family: 'Diphylleia', serif;
}
.ListL{
    @apply
    pt-[3rem]
    md:pl-5
    pl-3
    md:pr-5
    pr-3
    text-center
    font-bold
    text-black
}
.ListR{
    @apply
    pt-[3rem]
    md:pl-5
    pl-3
    md:pr-5
    pr-3
    text-center
    font-bold
    text-black
}
/*Second section*/
.TitleWTM{
    @apply
    pt-[4rem]
    pl-[2rem]
    pr-[2rem]
    text-7xl
    md:text-6xl
    text-orange-700
    text-center
    uppercase
    font-bold
    drop-shadow-lg;
    font-family: 'Single Day', cursive; 
}
.EmojiTitle{
    @apply
    text-8xl
    text-center
    drop-shadow-lg;
}
.WTMGrid{
    @apply
    grid
    grid-cols-3
    text-center
    pt-[5rem]
    pb-[3rem]
}
.TextWTM{
    @apply
    text-3xl
    md:text-2xl
    font-bold
    text-center
    leading-loose;
    font-family: 'Diphylleia', serif;
}
.Emmiter1{
    @apply
    text-orange-700
    text-left;
}

.VS{
    @apply
    text-[160px]
    font-extrabold
    text-orange-700
    drop-shadow-lg
    col-span-3
    md:col-span-1
    md:-mt-[5rem];
    font-family: 'Single Day', cursive; 
}
.WinnerText{
    @apply
    text-4xl
    text-center
    font-extrabold
    text-orange-700
    drop-shadow-lg;
    font-family: 'Single Day', cursive;
}
/*Third section*/
.TitleWM{
    @apply
    pt-[4rem]
    pl-[2rem]
    pr-[2rem]
    text-7xl
    md:text-6xl
    text-blue-700
    text-center
    uppercase
    font-bold
    drop-shadow-lg;
    font-family: 'Single Day', cursive; 
}
.WMText
{
    @apply
    col-span-3
    md:col-span-2
    order-2
    md:order-1
}
.WMData
{
    @apply
    text-2xl
    md:text-xl
    font-bold
    text-center
    pt-[3rem];
    font-family: 'Diphylleia', serif;
}
.WMImg{
    @apply
    col-span-3
    md:col-span-1
    bg-blue-300
    md:order-1
    flex items-center justify-center
}
.WMImage{
    @apply
    h-[20rem]
    w-[20rem]
    drop-shadow-lg
}