.Home{
    @apply
    bg-gray-100
    h-screen
    w-screen
}
.Intro{
    @apply
    h-[30rem]
    w-screen
    flex
    flex-col
    items-center
    bg-pink-800
}

.MainTitle{
    @apply
    text-8xl
    p-[3.5rem]
    md:p-[0rem]
    md:text-9xl
    text-center
    font-extrabold
    text-gray-100;
    font-family: 'Single Day', cursive;
}
.Intro svg {
    @apply
    w-full
    flex
   
}

